<div class="form A4">
    <div class="sheet padding-10mm page student">
        <div class="page-head">
            <div class="form-title">Titel oefenblad</div>
            <div class="name-input">
                <span>Naam:</span>
                <span class="name-placeholder">______________</span>
            </div>
        </div>
        <div id="studentBlockHolder" class="box-container student">
        </div>
    </div>
    <div class="sheet padding-10mm page teacher">
        <div class="page-head">
            <div class="form-title">Titel oefenblad</div>
            <div class="name-input">
                <span>Antwoordenvel</span>
            </div>
        </div>
        <div id="teacherBlockHolder" class="box-container teacher">
        </div>
    </div>
</div>
